/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin:0;
    padding:0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/****************** Header*****************/
#logoMenu{
    display: flex;
    justify-content: space-between;
}
#logoMenu img{
    max-width: 6%;
    width: auto;
    padding: 1.8rem 0;
    margin-top: 0.62rem;
    margin-bottom: 3.5rem;
}
#menuprincipal{
    width: 100%;
}
#menuprincipal ul{
    display: flex;
    justify-content: end;
}
#menuprincipal ul li{
    margin-left: 60px;
}
#menuprincipal ul li a{
    display: block;
    padding-top: 20px;
    border-top: 3px solid transparent;
}    
#menuprincipal ul li a:hover{
    color: var(--main-color);
    border-top: 3px solid #0065FC;
}
/******************Entete*****************/
#texteaccueil h1{
    padding: 10px 0;
}
form{
    margin: 1.87rem 0;
}
#formulaire{
    display: flex;
}
.input-icone{
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 0.8rem 1.12rem;
}
.input-icone .fa-solid{
    color: black;
    font-size: 18px;
}
#formulaire input[type=text] {
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
#formulaire input[type=submit] {
    background-color: var(--main-color);
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 0 15px;
}
#formulaire #icon-search{
    display: none;
}
#filtres{
    display: flex;
    align-items: center;
    gap: 15px;
}
#filtres p{
    font-weight: bold;
    font-size: 18px;
}
.filtre{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding: 0.8rem 1.12rem;
}
.filtre i{
    font-size: 22px;
}
.filtre:hover{
    background-color: var(--filter-bg-color);
}
#info{
    display: flex;
    margin: 1.87rem 0;
    gap: 10px;
    align-items: center;
}
#info .fa-solid{
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    padding: 5px 9px;
    font-size: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
.hebergements-and-populaires .fa-solid:hover {
    transform: scale(1.5);
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
#hebergements-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#hebergements-cards a{
    width: 31%;
}
#hebergements-cards .card-column {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
}
.card-column{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card-column:hover {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
}

#hebergements-cards img {
    width: 100%;
    height: 114px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}
#hebergements-cards .card-content {
    box-sizing: border-box;
    padding: 0 10px 10px;
}

#hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

#hebergements-cards .card-subtitle {
    margin-bottom: 4px;
}
.plus{
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}
.card:hover {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/
#activites{
    margin: 35px 0;
    padding: 30px;
    box-sizing: border-box;
}
#part-activites{
    display: flex;
    justify-content: space-between;
}
#part-activites a{
    width: 23%;
}
.card-activites {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 33px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card-activites:hover {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
}

.card-activites img {
    width: 100%;
    height: 380px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}
.card-activites .card-content{
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
}

/****** Footer***********/
#bg-pied{
    background-color: var(--main-bg-color);
    display: flex;
}
.colonne{
    width: 50%;
    margin: 33px;
}
.colonne ul li h4{
    font-size: 18px;
}
.colonne ul li{
    padding: 10px 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    #logoMenu img {
        max-width: 8%;
        padding: 1.8rem 0 0;
    }
    #filtres {
        flex-wrap: wrap;
    }
    #filtres p {
        width: 100%;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    
    .card-activites img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }
    #logoMenu {
        flex-direction: column;
        align-items: center;
    }
    #logoMenu img {
        max-width: 20%;
    }
    #menuprincipal ul {
        justify-content: space-around;
    }
    #menuprincipal ul li a{
        padding: 0 40px 10px;
        border-bottom: 3px solid transparent;
        border-top: 0;
    }    
    #menuprincipal ul li a:hover{
        border-bottom: 3px solid #0065FC;
        border-top: 0;
    }
    #menuprincipal ul li {
        margin-left: 0; 
    }
    #entete{
        padding: 0 20px;
    }
    #texteaccueil{
        margin-top: 30px;
    }
    #formulaire input[type=submit] {
        display: none;
    }
    #formulaire #icon-search{
        display: flex;
        background-color: var(--main-color);
        border-radius: 15px;
        border: none;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        padding: 0 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
        -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}
    #formulaire #icon-search button{
        background-color: transparent;
        border: none;
    }
    #formulaire #icon-search .fa-solid {
        color: white;
        font-size: 17px;
    }
    .hebergements-and-populaires {
        flex-flow: column-reverse;
    }
    .hebergements-and-populaires section {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    .populaires {
        margin-top: 0; 
    }
    .populaires-cards {
        flex-direction: column;
    }
    .populaires-cards .card {
        margin-top: 15px;
    }
    .populaires-cards a {
        width: 100%; 
    }
    .hebergements {
    background-color: white !important;
    }
    #hebergements-cards {
        flex-direction: column;
    }
    #hebergements-cards a {
        width: 100%;
    }
    #part-activites {
        flex-direction: column;
    }
    #part-activites a {
        width: 100%;
    }
    #bg-pied {
        flex-direction: column;
    }
}